@media only screen and (min-width: 400px) {
    .slider{
        position: absolute;
        transform: translateX(-85%);
        -webkit-transform: translateX(-85%);
    }

    .slide-in {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
    
    .slide-out {
        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }
        
    @keyframes slide-in {
        100% { transform: translateX(0%); }
    }
    
    @-webkit-keyframes slide-in {
        100% { -webkit-transform: translateX(0%); }
    }
        
    @keyframes slide-out {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-85%); }
    }
    
    @-webkit-keyframes slide-out {
        0% { -webkit-transform: translateX(0%); }
        100% { -webkit-transform: translateX(-85%); }
    }

    #channel-list-sidebar{
        width: 40%;
        height: 90%;
    }

    #channel-list-section{
        width: 97%;
    }

    .channel-button{
        width: 95%;
    }

    #open-button {
        width: 20%;
        height: 5%;
    }
    
    #channel-messages {
        height: 86%;
        width: 100%;
    }

    #channel-input-div {
        height: 14%;
        background-color: aquamarine;
    }

    .message-chatbox{
        height: auto;
        width: 100%;
    }

    
    .message-user-picture-section{
        width: 25%;
    }

    .message-content-section{
        width: 75%;
    }
    
    .image-content{
        width: 100%;
        background-image: url('../assets/test.png');
    }


    .emoji-button{
        font-size: 1rem;
    }

}