@media only screen and (min-width: 768px) {
    #channel-list-sidebar{
        height: 100%;
        width: 100%;
    }
    
    .slider{
        position: relative;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    .slide-in {
        animation: slide-in 0.5s forwards;
        -webkit-animation: slide-in 0.5s forwards;
    }
    
    .slide-out {
        animation: slide-out 0.5s forwards;
        -webkit-animation: slide-out 0.5s forwards;
    }
        
    @keyframes slide-in {
        100% { transform: translateX(0%); }
    }
    
    @-webkit-keyframes slide-in {
        100% { -webkit-transform: translateX(0%); }
    }
        
    @keyframes slide-out {
        0% { transform: translateX(0%); }
        100% { transform: translateX(0%); }
    }
    
    @-webkit-keyframes slide-out {
        0% { -webkit-transform: translateX(0%); }
        100% { -webkit-transform: translateX(0%); }
    }

    .message-chatbox{
        height: auto;
        width: 100%;
    }

    .message-user-picture-section{
        width: 7%;
    }

    .message-content-section{
        width: 90%;
    }
    
    .image-content{
        width: 20%;
    }

    .profile-menu-image{
        width: 20%;
    }
}